<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
      var app = angular.module("speedTest", []);
      app.controller("mainController", function($scope, $http){
        $scope.start = start;

        function data(size, t0, t){
          return {
            size: size,
            init: t0,
            end: t,
            get speed(){
              return this['size'] / (this['end'] - this['init']);
            }
          }
        }

        function start(){
          var lastSize;
          var lastTime;
          $scope.datas = [];


          $http.get('test-files/giga', {
            eventHandlers: {
              loadstart: function(e) {
                lastSize = 0;
                lastTime = new Date().getTime();
              },
              progress: function(e) {
                let loaded = e.loaded;
                let size = loaded - lastSize;
                lastSize = loaded;

                let time = new Date().getTime();

                let d = data(size, lastTime, time);
                lastTime = time;

                $scope.datas.push(d);
              },
              loadend: function(e) {
                let loaded = e.loaded;
                let size = loaded - lastSize;
                lastSize = loaded;

                let time = new Date().getTime();

                let d = data(size, lastTime, time);
                lastTime = time;

                $scope.datas.push(d);
              }
            },
            responseType: 'arraybuffer'
          }).then(function result(response){
          });
        }
      });
    </script>
  </head>
  <body ng-app="speedTest" ng-controller="mainController">
    <button ng-click="start()">Start</button>
    <table>
      <tbody>
        <tr ng-repeat="data in datas">
          <td>
            {{data.init}}
          </td>
          <td>
            {{data.end}}
          </td>
          <td>
            {{data.size | number }}
          </td>
          <td>
            {{data.speed | number }}
          </td>
        </tr>
      </tbody>
    </table>

  </body>
</html>
